* {

text-align: center;

}
.intro {
    background-image: url(clockbg.jpg);
    height: 100vh;
  }

.box {
    height: 250px;
    width: 40%;
    background-color: black;
    opacity: .8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    display: flex;
    align-items: center;  
}

.inner-box {
    height: 80px;
    width: 35%;
    background-color: silver;
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-radius: 20%;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
                /* Outset shadow */
                5px 5px 10px rgba(0, 0, 0, 0.5);
    /* box-shadow: inset 0 0 10px tomato, 0 0 10px green; */

    /* padding: 0px; */
}

#inner-box1{
    position: absolute;
    top: 15%;
    left: 10%;
}
#inner-box2{
    position: absolute;
    top: 15%;
    right: 10%;
    
}
#inner-box3{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -0%);
}
.colon{
    color: white;
    font-size: 6vw;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    
}
.num {
    text-align: center;
    margin: auto;
    font-size:6vw;
}

.name{
    color: black;
}